html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: #67328D !important;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.btn {
  display: inline-block;
  padding: 12px 0;
  width: 100%;
  text-align: center;
  font-weight: 800;
  color: #67328D;
  background-color: #DBEDF8;
  border-radius: 7px;
  transition: 0.3s;
}

.btn-primary {
  background-color: #67328D;
  color: #DBEDF8;
}

.btn .fa-angle-right {
  opacity: 0;
  transition: 0.3s;
}

.btn:hover .fa-angle-right {
  opacity: 1;
  margin-left: 10px;
}

.btn:hover {
  padding-right: 18px;
}

@media only screen and (min-width: 768px) {
  .btn {
    width: auto;
    padding: 12px 15px;
  }

  .btn-header {
    margin-left: 70px;
  }
}
.main img,
.main .image {
  border-radius: 7px;
}

.back-to-top {
  display: none;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 75px;
  right: 20px;
  color: #0AD6A1;
  text-align: center;
  background-color: #FFF;
  border-radius: 100%;
  border: 5px solid #0AD6A1;
  z-index: 2;
  cursor: pointer;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.title {
  margin-top: 70px;
  font-size: 1.6em;
  font-weight: 800;
}

.container-title .circles {
  color: #67328D;
}

.subtitle {
  margin: 45px 0 30px 0;
  font-size: 1.4em;
  font-weight: 800;
  color: #67328D;
  opacity: 0.75;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 1.7em;
  }

  .subtitle {
    font-size: 1.5em;
  }
}
.bold {
  font-weight: 800;
}

.mark {
  font-weight: 800;
  color: #0AD6A1;
}

.mark-primary {
  font-weight: 800;
  color: #67328D;
}

@media only screen and (min-width: 1200px) {
  .container-title {
    position: sticky;
    top: 73px;
    padding-bottom: 7px;
    background-color: #FFF;
    border-bottom: 4px solid #DBEDF8;
    z-index: 3;
  }
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.container-small {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.container-small-nested {
  max-width: 1100px;
  margin: 0 auto;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.container-jumbotron {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  position: relative;
  font-size: 0.9em;
  z-index: 10;
}

.navbar {
  background-color: #FFF;
  transition: 0.4s;
}

.contain-burger {
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
}

.burger-nav {
  position: relative;
  height: 3px;
  width: 35px;
  background-color: #67328D;
  border-radius: 3px;
  cursor: pointer;
}

.burger-nav::before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 35px;
  background-color: #67328D;
  border-radius: 3px;
}

.burger-nav::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  display: inline-block;
  height: 3px;
  width: 35px;
  background-color: #67328D;
  border-radius: 3px;
}

.navbar .logo {
  height: 45px;
}

.nav {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #FFF;
  border-top: 15px solid #E9A54A;
  z-index: 1;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav .section {
  display: block;
  padding: 15px 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
}

.nav .section:hover {
  color: #67328D;
}

.nav .active {
  color: #67328D;
}

.section .fa-angle-down {
  position: relative;
  top: 4px;
  margin-left: 5px;
}

.section.events-dropdown,
.section.stages-dropdown {
  position: relative;
}

.events-cities,
.stages {
  display: none;
  margin-top: 10px;
  padding: 30px 25px;
  width: 100%;
  text-align: left;
  background-color: #FFF;
  border-radius: 13px;
  border: 1px solid #67328D;
}

.events-cities a,
.stages a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #adadad;
}

.events-cities a:last-child,
.stages a:last-child {
  border: none;
}

.section-title-events {
  position: relative;
  display: inline-block;
}

.events-dropdown:hover .events-cities,
.stages-dropdown:hover .stages {
  display: block;
}

.events-cities a:hover,
.stages a:hover {
  background-color: whitesmoke;
}

.events-cities a,
.stages a {
  font-size: 0.9em;
}

.jumbotron img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.name-city {
  font-size: 2em;
  font-weight: 900;
}

@media only screen and (min-width: 768px) {
  .jumbotron {
    height: 330px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .container-navbar {
    padding: 0 50px;
  }

  .jumbotron {
    margin-top: 120px;
  }

  .nav {
    position: relative;
    top: -4px;
    display: block;
    width: auto;
    height: auto;
    text-align: right;
    border: none;
  }

  .nav .section {
    display: inline-block;
    padding: 42px 15px;
  }

  .burger-nav {
    display: none;
  }

  .events-cities,
.stages {
    position: absolute;
    top: 80px;
    left: 0;
    padding: 30px 25px;
    width: 195px;
  }
}
.footer {
  margin-top: 100px;
  background-color: #DBEDF8;
}

.title-list {
  padding: 10px 0;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 1px solid #1A1A1A;
}

.list li {
  margin: 15px 0;
}

.list a:hover,
.footer .last a:hover {
  color: #0AD6A1;
}

.footer .last {
  padding: 10px 0;
  text-align: center;
  background-color: rgba(10, 214, 161, 0.25);
}

@media only screen and (min-width: 992px) {
  .footer .lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
.alert {
  margin-bottom: 30px;
  padding: 12px 20px;
  border-radius: 6px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.image-rights p {
  margin-bottom: 1em;
}

.partners {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners img {
  width: 65%;
}

.partner {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 500px) {
  .partners img {
    width: 40%;
  }
}
@media only screen and (min-width: 768px) {
  .partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .partner {
    height: 150px;
  }

  .partners img {
    width: 45%;
  }
}
.draw-text-ul {
  list-style: disc;
}

/*Cities*/
.workshop p {
  margin-top: 20px;
}

.workshops-images {
  background: center/cover no-repeat url(images/image1.png);
  height: 260px;
  border-radius: 7px;
}

.workshop-image-1 {
  background-image: url(images/photos/femmesingénieursatelier.png);
}

.workshop-image-2 {
  background-image: url(images/image3-1.png);
}

.workshop-image-3 {
  background-image: url(images/image5-1.png);
}

.workshop-image-4 {
  background-image: url(images/image6-1.png);
}

.workshop-image-5 {
  background-image: url(images/image7-1.png);
}

.workshop-image-6 {
  background-image: url(images/image8-1.png);
}

.container-video {
  width: 100%;
  margin: 0 auto;
}

.rotate-array {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .workshops {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
    grid-gap: 30px;
  }

  .container-video {
    width: 560px;
  }

  .container-rotate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
@media only screen and (min-width: 900px) {
  .informations-cities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
.parade-images .image {
  position: relative;
  height: 280px;
  margin: 20px 0;
  width: 100%;
}

.parade-images .image .more {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #0AD6A1;
}

.parade-images .parade-1 {
  background: center/cover no-repeat url(images/photos/numeriquelles4.jpg);
  transition: 2s;
}

.parade-images .parade-2 {
  background: center/cover no-repeat url(images/photos/numeriquelles5.jpg);
  transition: 2s;
}

.parade-images .more {
  cursor: pointer;
}

.text-image {
  margin-top: 60px;
  margin-bottom: 40px;
}

.text-image .image {
  min-height: 150px;
  background: center/cover no-repeat url(images/photos/numeriquelles16.jpg);
}

.text-image .image-2 {
  background-image: url(images/photos/numeriquelles17.png);
}

.text-image .image-3 {
  background-image: url(images/photos/numeriquelles14.jpg);
}

.text-image .paragraphe {
  margin-top: 20px;
}

.information {
  margin: 30px 0;
  color: #FFF;
  text-align: center;
  border-radius: 7px;
  background-color: #0AD6A1;
}

.information .icon {
  padding: 30px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information .info {
  padding: 45px 10px;
}

.information .first-text {
  margin: 20px 0;
  font-size: 1.3em;
  font-weight: 800;
}

.information .text {
  padding: 0 6px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.information .text .first-text {
  margin-top: 25px;
}

.information .text .second-text {
  margin-bottom: 6px;
  padding: 40px 18px 28px 18px;
  width: 100%;
  color: #1A1A1A;
  text-align: left;
  background-color: #FFF;
  border-radius: 0 0 7px 7px;
}

.informations-cities .mark {
  text-transform: uppercase;
}

.draw-text {
  margin: 40px 0;
}

.draw-text .image {
  width: 100%;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .parade-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .parade-images .image {
    height: 320px;
  }

  .text-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .informations-nb-event {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 30px;
  }

  .information-title {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 30px;
  }

  .informations-experts  {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 30px;
  }

  .information .text .second-text {
    padding: 40px 18px;
  }

  .draw-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
  }
}
.material-access-button {
  margin-top: 60px;
}

.image-onisep-logo {
  width: 250px;
  margin-bottom: 20px;
}

.contain-img-onisep {
  text-align: center;
}

/*Mentions legales*/
.mentions-legales,
.presse {
  margin: 60px;
}

.mentions-legales p,
.presse p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mentions-ul {
  list-style-type: inherit;
}

.mentions-ul li {
  padding-left: 5px;
}

b {
  font-weight: bold;
}

.team-image {
  background: center/cover no-repeat url(images/photos/numeriquelles11.jpg);
  position: relative;
  height: 280px;
  margin: 20px 0;
  width: 100%;
}

/*Contact*/
.form-full {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 30px;
  border-radius: 3px;
}

.form .rgpd p {
  font-size: 0.8em;
}

.form {
  margin: 0 auto;
  background: #01f7ad;
  background: linear-gradient(0deg, rgba(1, 247, 173, 0.664) 0%, rgba(103, 50, 141, 0.61) 100%);
  background-size: cover;
  padding: 10px;
}

.form input[type=checkbox] {
  float: left;
  margin-right: 10px;
}

.form input[type=text],
.form textarea,
.form button {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: bisque;
  box-shadow: 5px 5px 2px 1px rgba(228, 228, 237, 0.2);
}

button[type=submit] {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .form-full {
    display: flex;
  }

  .form {
    padding: 50px;
    width: 700px;
  }
}
.internships {
  margin-top: 100px;
}

.internships a {
  margin: 10px 0;
}

.internships .paragraph {
  margin-top: 50px;
}

.container-internships {
  text-align: center;
}

.container-internships img {
  height: 110px;
}

.internships a {
  margin: 20px 0;
}

@media only screen and (min-width: 768px) {
  .internships a {
    display: block;
    margin: 20px 0;
  }

  .container-internships {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
